@{
    ViewData["Title"] = "Forgot password information";
}

<h2>@ViewData["Title"]</h2>
@if (ViewBag.UserIsNull)
{
    <p>
        User is not founded.
    </p>
    <a asp-action="ForgotPassword" asp-controller="Account">Try again</a>
}
else
{
    <p>
        Please check your email to change your password.
    </p>
    <a asp-action="Index" asp-controller="Home">Main page</a>
}