@model IEnumerable<DAL.Models.Order>
@{
    ViewBag.Title = "Goods list";
}

<div class="input-group">
    <h2 class="">@ViewBag.Previous has next orders : </h2>
    <span class="input-group-btn">
        <a class="btn btn-sm btn-primary" asp-controller="Customer" asp-action="Index" style="float: right;">Back</a>
    </span>
</div>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Date of order</th>
        <th>Status</th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.OrderDate</td>
            <td>@order.OrderStatus</td>
        </tr>
    }
</table>